a span.clicks { 
  display: none; 
}

.nav-pills li[title*="random"] { 
  display: none; 
}

.category-logo {
  max-height: 60px;
} 

.d-header #site-logo {
  height: 40px;
  width: 260px;
}

#site-logo.logo-small  {
  height: 39px;
  width: 39px;
  margin-left: 2px;
}

.category-list tbody .category {
  border-left-width: 50px;
}

.category-heading .category-logo {
  margin-top: 0px;
  margin-bottom: 15px;
}

.category-list tbody .category h3 .fa {
  margin-left: 68px;
  margin-right: -63px;
}

.create-account .user-fields .user-field-consultant_var_01{
    display: none;
}

.select-kit.is-expanded .select-kit-body{
    background-color:white;
}

.select-kit.single-select.combobox.combo-box{
    box-sizing: border-box;
    border: 1px Solid #00000029;
    border-radius: 3px;
    display: block;
}

.custom-wizard {
    font-family: sans-serif;
}