.category-list .category-title-link .category-name, .category-list .subcategories {
  margin-left: 150px;
}
.category-list .category-title-link .d-icon + .category-name {
  margin-left: 130px;
}

.category-list .category-logo {
  margin-bottom: 0px;
  margin-top: -20px;
}

.category-list .category-description {
  margin-top: 5px;
  margin-left: 150px;
}